@import url(https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.accordion{
    width: 400px;
    margin: 100px auto;
    border-radius: 4px;
    overflow: hidden;
}
.accordion-header{
    padding: 10px 20px;
    width: 100%;
    background-color: #3498db;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.accordion-header.active{
    background-color: #2980b9;
}
.accordion-header i{
transition: .3s;
}
.accordion-header.active i{
    transform: rotate(180deg);
}
.accordion-body{
    max-height: 0px;
    overflow: hidden;
    background-color: #ecf0f1;
    transition: .4s;
}
.acc_content{
    padding: 20px;
}
.accordion-body.active{
    max-height: 150px;
}